<!DOCTYPE html>

<html>
    <head>
        <title>404Hiba oldal</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class= "main-content">
             {{>header}}
        <p>{{errorMessage}}, kérem lépjen vissza az időjárás menüponttal a főoldalra</p>
        </div>
    <img src="img/ido.gif" alt="idojaras" id="kep-1">
         {{>footer}}
    </body>
       
</html>