<!DOCTYPE html>
<html>
    <head>
        <title>Felhasznált oldalak:</title>
         <link rel="icon" href="/img/weather.png">
         <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
          <p> A térkép API-jának oldala:
           <a href="https://www.mapbox.com/" class="lnik"> Itt megtekinthető</a>
            </p> 
            <p>Az időjárás API-jának oldala:
            <a href="https://openweathermap.org/" class="lnik">Itt megtekinthető</a>
            </p>
        </div>
        {{>footer}}
    </body>
</html>