body{
    margin: 0 auto;
    padding: 0 35%;
    min-height: 100vh;
    background:linear-gradient(rgb(47,150,163),rgb(48,62,143));
}
header{
    margin-top:16px;
    margin-bottom: 48px;
    color:white;
    font-family:fantasy;
    font-size:25px;
    text-decoration: none;
}
h1{
    font-size: 64px;
    margin-bottom:16px;
}
header a{
    color: white;
    margin-right: 16px;
    
}
.portrait{
    width:80%;
}
#kep-1{
    padding-bottom: 220px;
    width:70%;
}
.lnik{
    text-decoration:wavy;
    color:whitesmoke;
    font-style:italic;
    font-size:20px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:white;
  }