<footer>
     <style type="text/css">
   .inline-block { 
    display: inline-block;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding:20px 0;
    }
    </style>
    <div class="inline-block">
        <p>Készítette: {{name}} &emsp; Időjárás applikáció 2020</p>
    </div>
         

</footer>